
footer
  .container
    .row.info
      .col-xs-12.col-sm-12.col-md-4.col-lg-3.info_col
        p.logo: a(href="#"): img(src="./templates/img/logo.png" alt="Trường Đại học Công nghiệp TP.HCM")
        ul.social_f
          li.fb: a(href="#") 
          li.zl: a(href="#") 
          li.tw: a(href="#") 
          li.ins: a(href="#") 
      .col-xs-12.col-sm-12.col-md-4.col-lg-5.info_col
        ul.store
          li: span Thông tin liên hệ
          li.store-address
            i.fas.fa-map-marker-alt 
            span Tầng trệt - Nhà B 12 Nguyễn Văn Bảo, Q. Gò Vấp, TP. Hồ Chí Minh

          li.store-phone
            i.fas.fa-mobile-alt
            span
              a(href='tel:02838940390') 0283.8940.390 - 136; 138
          li.store-mail
            i.far.fa-envelope
            span
              a(href='mailto:dhcn@iuh.edu.vn') dhcn@iuh.edu.vn
      .col-xs-12.col-sm-12.col-md-4.col-lg-3.menu_f
        h4.foo-title
          span Tiện ích
        .foo-content
          ul.list-menu
            li
              a(href='#' title='Biểu mẫu')
                | Biểu mẫu
            li
              a(href='#' title='Thông báo giảng viên')
                | Thông báo giảng viên
            li
              a(href='#' title='Chuyên trang việc làm')
                | Chuyên trang việc làm
            li
              a(href='' title='Thư viện')
                | Thư viện
            li
              a(href='/lien-he' title='Liên hệ')
                | Liên hệ
        
            

  .copyright
    .container
        .row
          .col-lg-12.d-flex.justify-content-between.align-items-center
            p &copy; 2020 Bản quyền thuộc về iuh.edu.vn
              span: a(href="https://vemaybaythanhtung.com/" target="_blank") | design by Thanh Tung
            .info_statistics.d-md-none
              dl
                dt
                  i.fas.fa-user
                  | Số lượng truy cập:
                dd  3,467,619
              dl
                dt
                  i.fas.fa-users
                  | Đang online:
                dd 1552

  .backtop
    i.fa.fa-arrow-circle-up
  .support-online
    .support-content(style="display: none;")
      a.call-now(href='tel:0968240896' rel='nofollow')
        i.fas.fa-mobile-alt(aria-hidden='true')
        .animated.infinite.zoomIn.kenit-alo-circle
        .animated.infinite.pulse.kenit-alo-circle-fill
        span Gọi ngay: 0968240896
      a.mes(href='https://m.me/thanhtungvemaybay')
        i.fab.fa-facebook-messenger(aria-hidden='true')
        span Nhắn tin facebook
      a.zalo(href='http://zalo.me/0968240896')
        i.far.fa-comment-dots
        span Zalo: 0968240896
    a.btn-support
      i.far.fa-question-circle(aria-hidden='true')
      .animated.infinite.zoomIn.kenit-alo-circle
      .animated.infinite.pulse.kenit-alo-circle-fill
