doctype html
html(lang="vi")#index
  head
    title #{TITLE}
    meta(charset="utf-8")
    link(rel='icon', type='image/png', href='img/favicon.png')

    meta(name="description" content="DESCRIPTION")
    meta(name="keywords" content="KEYWORDS")
    meta(name="format-detection" content="telephone=no")
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href="./templates/css/bootstrap.css" rel="stylesheet")
    link(href="./templates/css/animate.min.css" rel="stylesheet")
    link(href="./templates/css/owl.carousel.css" rel="stylesheet")
    link(href="./templates/css/owl.theme.default.css" rel="stylesheet")
    link(href="./templates/css/bootstrap.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet")
    link(href="./templates/css/style.css" rel="stylesheet")

body
  //- header
  block header
    include ./elements/_header.pug

  section.banner
    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
        li(data-target='#carouselExampleIndicators' data-slide-to='1')
        li(data-target='#carouselExampleIndicators' data-slide-to='2')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='./templates/img/banner.jpg' alt='First slide')
        .carousel-item
          img.d-block.w-100(src='./templates/img/banner.jpg' alt='Second slide')
        .carousel-item
          img.d-block.w-100(src='./templates/img/banner.jpg' alt='Third slide')
      a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next

  section.functions
    .container
      .row
        .col-md-6.col-lg-4.mb30
          .functions_item.wow.animate__jackInTheBox(data-wow-duration='1.5s' data-wow-delay='0.5s')
            p.icon: img(src="./templates/img/icon1.jpg", alt="Đăng Ký Thi")
            dl
              dt Đăng Ký Thi
              dd.des Đăng ký thi trực tuyến. Hướng dẫn các thủ tục ...
              dd.btn-detail.btn: a(href="#") Xem chi tiết
        .col-md-6.col-lg-4.mb30
          .functions_item.wow.animate__jackInTheBox(data-wow-duration='1.5s' data-wow-delay='0.75s')
            p.icon: img(src="./templates/img/icon2.jpg", alt="Các Kỳ Thi")
            dl
              dt Các Kỳ Thi
              dd.des Lịch thi, hình thức thi, ngày đăng ký, tổ chức các kỳ thi ...
              dd.btn-detail.btn: a(href="#") Xem chi tiết
        .col-md-6.col-lg-4.mb30
          .functions_item.wow.animate__jackInTheBox(data-wow-duration='1.5s' data-wow-delay='1s')
            p.icon: img(src="./templates/img/icon3.jpg", alt="Tra Cứu Kết Quả")
            dl
              dt Tra Cứu Kết Quả
              dd.des Tra cứu kết quả thi ĐGNLNN trực tuyến, phúc khảo​ ...
              dd.btn-detail.btn: a(href="#") Xem chi tiết
        .col-md-6.col-lg-4.mb30
          .functions_item.wow.animate__jackInTheBox(data-wow-duration='1.5s' data-wow-delay='1s')
            p.icon: img(src="./templates/img/icon4.jpg", alt="Quy Trình")
            dl
              dt Quy Trình
              dd.des Thực hiện theo các bước để Đăng ký dự thi ...
              dd.btn-detail.btn: a(href="#") Xem chi tiết
        .col-md-6.col-lg-4.mb30
          .functions_item.wow.animate__jackInTheBox(data-wow-duration='1.5s' data-wow-delay='0.75s')
            p.icon: img(src="./templates/img/icon5.jpg", alt="Biễu Mẫu")
            dl
              dt Biễu Mẫu
              dd.des Phiếu đk nhận giấy chứng nhận tạm thời...
              dd.btn-detail.btn: a(href="#") Xem chi tiết
        .col-md-6.col-lg-4.mb30
          .functions_item.wow.animate__jackInTheBox(data-wow-duration='1.5s' data-wow-delay='0.5s')
            p.icon: img(src="./templates/img/icon6.jpg", alt="Tài Liệu Tham Khảo")
            dl
              dt Tài Liệu Tham Khảo
              dd.des Download các tài liệu tham khảo liên quan đến kỳ thi như ...
              dd.btn-detail.btn: a(href="#") Xem chi tiết
  section.notify
    .container
      .row
        .col-md-12.col-lg-6
          .notify_list.wow.animate__fadeInLeft(data-wow-duration='1.5s' data-wow-delay='0.5s')
            .notify_item
              .notify_item__time
                .time_day 09
                .time_monyear t.8 - 2020
              .notify_item__content
                h2 Thông báo Tổ chức thi và cấp chứng chỉ Tiếng Anh theo Khung năng lực ngoại ngữ 6 bậc dùng cho Việt Nam (Đợt thi tháng 12) tại trường Đại học Trà Vinh
                .icon_time
                  i.far.fa-clock
                  | 17:00 PM 
              .notify_item__des Căn cứ Thông tư số 23/2017/TT–BGDĐT NGÀY 19/9/2017 của Bộ Giáo dục và Đào tạo về việc ban hành Quy chế thi đánh giá năng lực ngoại ngữ theo ...
            .notify_item
              .notify_item__time
                .time_day 09
                .time_monyear t.8 - 2020
              .notify_item__content
                h2 Thông báo Tổ chức thi và cấp chứng chỉ Tiếng Anh theo Khung năng lực ngoại ngữ 6 bậc dùng cho Việt Nam (Đợt thi tháng 12) tại trường Đại học Trà Vinh
                .icon_time
                  i.far.fa-clock
                  | 17:00 PM 
              .notify_item__des Căn cứ Thông tư số 23/2017/TT–BGDĐT NGÀY 19/9/2017 của Bộ Giáo dục và Đào tạo về việc ban hành Quy chế thi đánh giá năng lực ngoại ngữ theo ...        
            .notify_item
              .notify_item__time
                .time_day 09
                .time_monyear t.8 - 2020
              .notify_item__content
                h2 Thông báo Tổ chức thi và cấp chứng chỉ Tiếng Anh theo Khung năng lực ngoại ngữ 6 bậc dùng cho Việt Nam (Đợt thi tháng 12) tại trường Đại học Trà Vinh
                .icon_time
                  i.far.fa-clock
                  | 17:00 PM 
              .notify_item__des Căn cứ Thông tư số 23/2017/TT–BGDĐT NGÀY 19/9/2017 của Bộ Giáo dục và Đào tạo về việc ban hành Quy chế thi đánh giá năng lực ngoại ngữ theo ...        
            .notify_item
              .notify_item__time
                .time_day 09
                .time_monyear t.8 - 2020
              .notify_item__content
                h2 Thông báo Tổ chức thi và cấp chứng chỉ Tiếng Anh theo Khung năng lực ngoại ngữ 6 bậc dùng cho Việt Nam (Đợt thi tháng 12) tại trường Đại học Trà Vinh
                .icon_time
                  i.far.fa-clock
                  | 17:00 PM 
              .notify_item__des Căn cứ Thông tư số 23/2017/TT–BGDĐT NGÀY 19/9/2017 của Bộ Giáo dục và Đào tạo về việc ban hành Quy chế thi đánh giá năng lực ngoại ngữ theo ...       
        .col-md-12.col-lg-6
          .notify_list.wow.animate__fadeInRight(data-wow-duration='1.5s' data-wow-delay='0.5s')
            .notify_item
              .notify_item__time
                .time_day 09
                .time_monyear t.8 - 2020
              .notify_item__content
                h2 Thông báo Tổ chức thi và cấp chứng chỉ Tiếng Anh theo Khung năng lực ngoại ngữ 6 bậc dùng cho Việt Nam (Đợt thi tháng 12) tại trường Đại học Trà Vinh
                .icon_time
                  i.far.fa-clock
                  | 17:00 PM 
              .notify_item__des Căn cứ Thông tư số 23/2017/TT–BGDĐT NGÀY 19/9/2017 của Bộ Giáo dục và Đào tạo về việc ban hành Quy chế thi đánh giá năng lực ngoại ngữ theo ...
            .notify_item
              .notify_item__time
                .time_day 09
                .time_monyear t.8 - 2020
              .notify_item__content
                h2 Thông báo Tổ chức thi và cấp chứng chỉ Tiếng Anh theo Khung năng lực ngoại ngữ 6 bậc dùng cho Việt Nam (Đợt thi tháng 12) tại trường Đại học Trà Vinh
                .icon_time
                  i.far.fa-clock
                  | 17:00 PM 
              .notify_item__des Căn cứ Thông tư số 23/2017/TT–BGDĐT NGÀY 19/9/2017 của Bộ Giáo dục và Đào tạo về việc ban hành Quy chế thi đánh giá năng lực ngoại ngữ theo ...        
            .notify_item
              .notify_item__time
                .time_day 09
                .time_monyear t.8 - 2020
              .notify_item__content
                h2 Thông báo Tổ chức thi và cấp chứng chỉ Tiếng Anh theo Khung năng lực ngoại ngữ 6 bậc dùng cho Việt Nam (Đợt thi tháng 12) tại trường Đại học Trà Vinh
                .icon_time
                  i.far.fa-clock
                  | 17:00 PM 
              .notify_item__des Căn cứ Thông tư số 23/2017/TT–BGDĐT NGÀY 19/9/2017 của Bộ Giáo dục và Đào tạo về việc ban hành Quy chế thi đánh giá năng lực ngoại ngữ theo ...        
            .notify_item
              .notify_item__time
                .time_day 09
                .time_monyear t.8 - 2020
              .notify_item__content
                h2 Thông báo Tổ chức thi và cấp chứng chỉ Tiếng Anh theo Khung năng lực ngoại ngữ 6 bậc dùng cho Việt Nam (Đợt thi tháng 12) tại trường Đại học Trà Vinh
                .icon_time
                  i.far.fa-clock
                  | 17:00 PM 
              .notify_item__des Căn cứ Thông tư số 23/2017/TT–BGDĐT NGÀY 19/9/2017 của Bộ Giáo dục và Đào tạo về việc ban hành Quy chế thi đánh giá năng lực ngoại ngữ theo ...       
        .col-md-12.col-lg-12.d-flex.justify-content-center
          dd.btn-detail.btn: a(href='#') Xem chi tiết
 

  section.partner.wow.animate__backInUp(data-wow-duration='1.5s' data-wow-delay='0.5s')
    .container
      h2.title: span đơn vị liên kết
      .row
        .owl-partner.owl-carousel.owl-theme
          .item: a(href="#").btn-float-shadow: img(src="./templates/img/partner.jpg", alt="đối tác")
          .item: a(href="#").btn-float-shadow: img(src="./templates/img/partner1.jpg", alt="đối tác")
          .item: a(href="#").btn-float-shadow: img(src="./templates/img/partner2.jpg", alt="đối tác")
          .item: a(href="#").btn-float-shadow: img(src="./templates/img/partner3.jpg", alt="đối tác")
          .item: a(href="#").btn-float-shadow: img(src="./templates/img/partner4.jpg", alt="đối tác")
          .item: a(href="#").btn-float-shadow: img(src="./templates/img/partner.jpg", alt="đối tác")
  section.news
    .container.wow.animate__fadeInUp(data-wow-duration='1.5s' data-wow-delay='0.7s')
      h2.title: span Tin tức và sự kiện
      .row
        .news_items.owl-news.owl-carousel.owl-theme
          .item.card.btn-curl-top-left
            figure: a(href="#"): img.card-img-top(src='./templates/img/image1.jpg' alt='Card image cap')
            .card-body
              .time
                |Thứ Ba, 22/02/2020
                i.far.fa-calendar-alt
              h3.card-title: a(href="#") IUH tổ chức gặp mặt truyền thống nhân Ngày Nhà giáo Việt Nam 20/11
              p.card-text Nhân dịp ngày Nhà giáo Việt Nam 20/11, thay mặt Ban cán sự đảng, Lãnh đạo Bộ Công Thương, Bộ trưởng Bộ Công Thương Trần Tuấn Anh đã gửi thư chúc mừng tới toàn thể thầy cô giáo, cán bộ, viên chức của Nhà trường ...

          .item.card.btn-curl-top-left
            figure: a(href="#"): img.card-img-top(src='./templates/img/image1.jpg' alt='Card image cap')
            .card-body
              .time
                |Thứ Ba, 22/02/2020
                i.far.fa-calendar-alt
              h3.card-title: a(href="#") IUH tổ chức gặp mặt truyền thống nhân Ngày Nhà giáo Việt Nam 20/11
              p.card-text Nhân dịp ngày Nhà giáo Việt Nam 20/11, thay mặt Ban cán sự đảng, Lãnh đạo Bộ Công Thương, Bộ trưởng Bộ Công Thương Trần Tuấn Anh đã gửi thư chúc mừng tới toàn thể thầy cô giáo, cán bộ, viên chức của Nhà trường ...

          .item.card.btn-curl-top-left
            figure: a(href="#"): img.card-img-top(src='./templates/img/image1.jpg' alt='Card image cap')
            .card-body
              .time
                |Thứ Ba, 22/02/2020
                i.far.fa-calendar-alt
              h3.card-title: a(href="#") IUH ký kết hợp tác với Doanh nghiệp và Viện nghiên cứu về nghiên cứu khoa học
              p.card-text Ngày 10 tháng 11 năm 2020, tại Trường Đại học Công nghiệp TP. Hồ Chí Minh (IUH) đã diễn ra buổi Lễ ký kết các Thỏa thuận phối hợp - hợp tác nghiên cứu khoa học & chuyển giao công nghệ giữa IUH với 02 Viện nghiên cứu ...
        

  
  //- footer
  block footer
    include ./elements/_footer.pug

  script(src="https://code.jquery.com/jquery-2.2.4.min.js")
  script(src="./templates/js/bootstrap-min.js")
  script(src="./templates/js/owl.carousel.js")
  script(src="./templates/js/default.js")
  script(src='./templates/js/wow.js')
  script.
    new WOW().init();
