doctype html
html(lang="vi")
  head
    title #{TITLE}
    meta(charset="utf-8")
    link(rel='icon' type='image/png' href='img/favicon.png')

    meta(name="description" content="DESCRIPTION")
    meta(name="keywords" content="KEYWORDS")
    meta(name="format-detection" content="telephone=no")
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(href="./templates/css/animate.min.css" rel="stylesheet")
    link(href="./templates/css/bootstrap.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet")
    link(href="./templates/css/style.css" rel="stylesheet")

body
  //- header
  block header
    include ./elements/_header.pug

  h1(style="display:none") Vé máy bay Thanh Tùng
  nav#breadcrumb(aria-label='breadcrumb')
    .container
      .row
        ol.breadcrumb
          li.breadcrumb-item
            a(href='./') Home
          li.breadcrumb-item.active(aria-current='page') Thông tin đăng ký

  section.content-page
    .page-confirm.container
      .row
        .col-12
          h2.title
            span Hướng dẫn thanh toán

          .payment-infomation
            .stepbystep 
              strong Bước 1: 
              | Thí sinh in Phiếu đăng ký, ký tên.
            .stepbystep 
              strong Bước 1: 
              | Nộp lệ phí thi.
              p + Lệ phí thi:
                label - Mức thu 1.300.000 đồng/thí sinh: áp dụng cho thí sinh đang là học sinh, sinh viên, học viên sau đại học hoặc viên chức, người lao động đang công tác tại trường Đại học Trà Vinh.
                label - Mức thu 1.800.000 đồng/thí sinh: đối với thí sinh tự do.
              p + Hình thức nộp: Thí sinh nộp lệ phí thi theo hình thức chuyển tiền vào tài khoản với thông tin:
              table(style='border: 1px;margin: 1.5% 0;' border='1' width='100%')
                tr
                  td
                    | Tên chủ tài khoản: 
                    strong Trường Đại học Công Nghiệp Tp.HCM
                    br
                    | Số tài khoản: 
                    strong 44001011666999
                    | , tại Ngân hàng TMCP Hàng Hải Việt Nam (MSB) chi nhánh HCM
                    br
                    | Nội dung nộp tiền: 
                    strong
                      em &lt; Họ và tên thí sinh &gt; &lt; ĐGNLTA_bậc…_tháng... &gt; &lt; Số CMND &gt;
            .stepbystep 
              strong Bước 3: 
              | Nộp hồ sơ 
              p + Hồ sơ đăng ký dự thi bao gồm  
                label - Phiếu đăng ký dự thi (thí sinh in Phiếu sau khi đăng ký trực tuyến, ký tên và ghi họ tên).
                label - 02 ảnh cỡ 4x6 được chụp không quá 06 tháng trước ngày đăng ký dự thi, mặt sau của ảnh ghi rõ họ và tên, ngày sinh, số chứng minh nhân dân.
                label - Bản sao có công chứng một trong những giấy tờ sau: chứng minh nhân dân, thẻ căn cước công dân, hộ chiếu.        
                label - Các giấy tờ để xác định đối tượng thí sinh đang là học sinh, sinh viên, học viên sau đại học hoặc viên chức, người lao động đang công tác tại trường Đại học Trà Vinh.
                label - Bản photo giấy nộp tiền qua ngân hàng.
            .stepbystep 
              strong Bước 4: 
              | Nộp hồ sơ theo địa chỉ 
              p
                | Hồ sơ được gửi qua đường bưu chính theo thời gian được ghi trong thông báo đến địa chỉ:
              p
                strong Phòng A11.307 – Tòa nhà A1 - Trường Đại học Công nghiệp TP. Hồ Chí Minh
              p
                strong Số 12 Nguyễn Văn Bảo, Phường 4, Quận Gò Vấp, Thành phố Hồ Chí Minh
              p
                strong
                  em Điện thoại:
                |  0283.8940 390 
                strong
                  em Website
                | : 
                a(href='http://iuh.edu.vn/') http://iuh.edu.vn/

          .btn-sbmit
            .button_bottom
              .btn_register(onclick="window.history.go(-1); return false;") Quay lại
            .button_bottom
              button.btn_register(type='submit' value='Xác nhận thông tin') Xác nhận thông tin


  //- footer
  block footer
    include ./elements/_footer.pug

  script(src="https://code.jquery.com/jquery-2.2.4.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="./templates/js/default.js")
